body{
  color: black;
  font-size: 1.5em;
  font-family: 'Arial';
  width: 770px;
}

p {
  margin-top: 0.5em;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

header {
  height: 100px;
  background: url(./assets/cabecera.jpeg);
}

footer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 150px;
  width: 100%;
  background: #a9855d;
}

a {
  color: blue;
}

a:visited {
  color: blue;
}

a:hover {
  color: red;
}

table {
  border-top: 3px solid black;
  border-left: 1px dotted black;
}

table td{
  border-right: 1px dotted black;
  padding: 0.3em;
}

table a {
  color: green;
}


#nav-bar {
  position: relative;
  list-style: none;
}

#nav-bar li {
  border: 1px solid black; 
  float: left; 
  margin-left: 1%;
  padding: 0.3em;
  margin-bottom: 0.7em;
}

#nav-bar a:hover {
  color: blueviolet;
  background-color: aquamarine;
}

#Contenido {
  width: 100%;
  display: flex;
  align-items: stretch;
  position: relative;
}

#Principal {
  position: relative;
  float: left;
  width: 50%;
}

#Secundario {
  position: relative;
  float: left;
  width: 35%;
}

#Enlaces {
  position: relative;
  float: left;
  width: 130px;
}

.social {
  display: flex;
  flex-direction: row;
}

.copyrightContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color:#fff;
  font-family: 'Arial';
}